*{
    margin:0 ;
    padding:0 ;
    overflow-x: hidden;
}
/* color de babecera*/
header{
    background-color: rgb(0, 7, 7);
}
/*estilos de cabecera*/
.navbar {
    display: flex;
}
/*  estilo al logo */
.container-fluid img{
    border-radius: 1rem;
    width: 3.5rem; 
    height: 2.5rem;  
}
/* estilo a las redes*/
.max-container a {
    text-align: center;
    font-size: 1.5rem;
    text-decoration: none;
    color:rgb(255, 0, 0)
}
/* medidas del banner*/
.img-fluid{
    max-width: 100%;
    height: auto;
}
/*color fondo del menu*/
.container-fluid{
    background-color: rgb(0, 7, 7);
}
/*estilo al menu*/
.navbar-brand{
    margin:1% 2%;
    display: flex;
    align-content: center;
    background-color: rgb(0, 7, 7);
 }
/* fondo de seccion*/
section {
    background-image: url(../img/fondo2.png);
    background-position: center center;
/* Para que la imagen de fondo no se repita */
    background-repeat: no-repeat;
/* La imagen se fija en la ventana de visualización para que la altura de la imagen no supere a la del contenido */
    background-attachment: fixed;
/* La imagen de fondo se reescala automáticamente con el cambio del ancho de ventana del navegador */
    background-size: cover;
}
/*estilo a foto perfil*/
.col-sm-4 img{
    border-radius: 100rem;
    width: 15rem;
}
/*estilo a imagen ,nombre y titulo*/
.container {
    margin: 3% 5%;
    font-style:oblique;
    color:rgb(0, 255, 0) 
}
/* estilo al nombre*/
.container h1{
    font-size: 2.5rem;
    overflow-y: hidden;
}
/* estilo al titulo*/
.container h4{
    overflow-y: hidden;  
}
/* estilo a acerca de mi*/
.text-center{   
    color: rgb(187, 255, 0);
}
/* estilo a los h1 de cada seccion*/
.text-fluid {
    margin: 0 4%;
    overflow-y: hidden;
    color:rgb(0, 255, 0)
}
/* estilo a las listas*/
.col-4 img{
    height: 5rem;
}
/* estilo a las habilidades*/
.container-center{
    margin: 3% 5%;
}
.bi.bi-filetype-html{
    font-size: 3rem;
    color:rgb(46, 136, 221);
}
.bi.bi-filetype-css{
    font-size: 3rem;
    color: rgb(247, 243, 7);
}
.bi.bi-bootstrap{
    font-size: 3rem;
    color: rgb(226, 22, 90);
}
.bi.bi-filetype-js{
    font-size: 3rem;
    color: rgb(32, 177, 177);
}
/* estilo a pie de pag.*/
footer{ 
    background-color: black;
    text-decoration: none;
}
/*estilo a contactos*/
address{ 
     display: flex;
     justify-content: right;
}
/*logo de redes en pie de pagina */
address a{
    margin-right: 1.5rem;
}


  
